<div class="row mx-0 d-flex mt-3">
  <div class="col-6">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Application List</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>An Application</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div class="col-6 text-end">
    <button class="btn-sm btn btn-primary rounded-0 float-left" (click)="showModal()">Add Folder</button>
  </div>

</div>
<nz-table #expandTable [nzData]="listOfMapData" nzTableLayout="fixed" *ngIf="tableUpdate">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of expandTable.data">
      <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
     
          <td [nzIndentSize]="item.level! * 20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)">
            {{ item.name }}
          </td>
          <td>{{ item.age }}</td>
          <td>{{ item.address }}</td>
          <td>
            <button class="btn btn-primary btn-sm rounded-0" (click)="showUpdateModal(item)">Add Sub Child</button>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Add New Folder" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form [formGroup]="addNewForm" (ngSubmit)="handleOk()">
      <div class="">
        <label>Key</label>
        <input class="form-control" type="text" name="key" formControlName="key" placeholder="Enter key" />
      </div>
      <div class="">
        <label>Name</label>
        <input class="form-control" type="text" name="name" placeholder="Enter name" formControlName="name" />
      </div>
      <div class="">
        <label>Age</label>
        <input class="form-control" type="number" name="age" placeholder="Enter age" formControlName="age" />
      </div>
      <div class="">
        <label>Address</label>
        <input class="form-control" type="text" name="Address" placeholder="Enter Address" formControlName="address" />
      </div>
    </form>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isUpdateVisible" nzTitle="Add Sub Folder" (nzOnCancel)="handleupdateCancel()" (nzOnOk)="handleupdateOk()">
  <ng-container *nzModalContent>
    <form [formGroup]="updateForm" (ngSubmit)="handleOk()">
      <div class="">
        <label>Key</label>
        <input class="form-control" type="text" name="key" formControlName="key" placeholder="Enter key" />
      </div>
      <div class="">
        <label>Name</label>
        <input class="form-control" type="text" name="name" placeholder="Enter name" formControlName="name" />
      </div>
      <div class="">
        <label>Age</label>
        <input class="form-control" type="number" name="age" placeholder="Enter age" formControlName="age" />
      </div>
      <div class="">
        <label>Address</label>
        <input class="form-control" type="text" name="Address" placeholder="Enter Address" formControlName="address" />
      </div>
    </form>
  </ng-container>
</nz-modal>